@model List<BookShop.Domain.Entities.OrderItem>

<h2>Shopping Cart</h2>

@if (Model.Count == 0)
{
    <p>Your cart is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Book.Title</td>
                    <td>@item.Book.Price</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Quantity * item.Book.Price)</td>
                </tr>
            }
        </tbody>
    </table>
    <p>Total price: </p>
}
