@{
    ViewData["Title"] = "Contact";
}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="~/css/home/contact.css" rel="stylesheet" />

<div class="container">
    <h1 class="philosopher-bold-italic">Contact Us</h1>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="contact-info">
                <h4><i class="fa-solid fa-location-dot"></i> Location</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39742.65798113825!2d-0.1740726324677828!3d51.49640666922689!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604d6b1b4721d%3A0xe36c791bbb7fb372!2sWaterstones!5e0!3m2!1sen!2srs!4v1714381505820!5m2!1sen!2srs" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>123 Main Street, City, Country</p>

                <h4><i class="fa-solid fa-clock"></i> Working Hours</h4>
                <p>Monday - Friday: 9:00 AM - 5:00 PM</p>
                <p>Saturday: 10:00 AM - 2:00 PM</p>
                <p>Sunday: Closed</p>

                <h4><i class="fa-solid fa-address-card"></i> Manager's Contact</h4>
                <p>Name: John Doe</p>
                <p>Email: john.doe@example.com</p>
                <p>Phone: +1234567890</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 p-0">
            <div class="container">
                <h4><i class="fa-solid fa-paper-plane"></i> Send us a message</h4>
                <form class="p-0">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">First and last name:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"/>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address:</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"/>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Subject:</label>
                        <input type="password" class="form-control" id="exampleInputPassword1"/>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Message:</label>
                        <textarea type="password" rows="3" class="form-control" id="exampleInputPassword1"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
            <div style="text-align: center; margin-top: 100px;">
                <h2>
                    <a class="socials" href="#">
                        <i class="fa-brands fa-x-twitter" onclick="#"></i>
                    </a>
                    <a class="socials" href="#">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="socials" href="#">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                </h2>
            </div>
        </div>
    </div>
</div>

