@using BookShop.Data
@using BookShop.Domain.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext Context


<style>
    .position-relative {
        position: relative;
        top: 0px;
        left: -8px;
    }
</style>

@{
    List<OrderItem> orderItems = null;
    int numberOfItems = 0;
    if (User.Identity.IsAuthenticated)
    {
        var user = await UserManager.GetUserAsync(User);
        var order = Context.Orders
            .Where(o => o.UserId == user.Id && o.Shipped == false)
            .FirstOrDefault();
            if (order != null)
        {
            orderItems = Context.OrderItems
    .Where(o => o.OrderId == order.OrderId)
    .ToList();
            foreach (var item in orderItems)
            {
                numberOfItems += item.Quantity;
            }
        }
    }
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.Identity.IsAuthenticated && orderItems != null && orderItems.Any())
        {
            <li class="nav-item">
                <a href="/Cart/Index" class="nav-link position-relative text-decoration-none">
                    <i class="fa-solid fa-cart-shopping fa-xl"></i>
                    <span class="position-absolute top-1 start-100 translate-middle badge rounded-pill bg-danger">
                        @numberOfItems
                    </span>
                </a>
            </li>
        }
        <li class="nav-item">
            <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
