

<a href="/Cart/Index" class="position-relative text-dark text-decoration-none">
    <i class="fas fa-shopping-cart fa-lg"></i>
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        @ViewBag.NumOfAddedBooks
    </span>
</a>