@model IEnumerable<BookShop.Domain.Entities.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Shop</h1>

<div class="container">
    <div class="row">
@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/d/de/Dune-Frank_Herbert_%281965%29_First_edition.jpg/220px-Dune-Frank_Herbert_%281965%29_First_edition.jpg" class="card-img-top" alt="img">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@item.Description</p>

            @* <a href="#" class="btn btn-primary">Add to cart</a> *@

            <form asp-controller="Cart" asp-action="AddToCart" method="post">
                <input type="hidden" name="bookId" value="@item.BookId" />
                <label for="quantity">Quantity:</label>
                <input type="number" name="quantity" value="1" min="1" max="10" />
                <button type="submit" class="btn btn-primary">Add to cart</button>
            </form>

        </div>
    </div>
}
</div>
</div>
@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}